.assign{
    margin-top: 100px;
   
}

.list-group-item::after {
    content: "✔︎\22EE"; 
    color: green; 
    float: right; 
    margin-left: 10px; 
    font-size: 1.2rem; 
}
.hamburger-menu{
      background-color: white;
}
.badge{
    margin-left: 800px;
    background-color: white;
}
.assign a{
    color: black;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">" !important;
    padding-top: 2px !important;
}
.breadcrumb{
    background-color: white!important;
}
@media (max-width: 576px) {
    .module-sidebar {
        display: none;
    }

    .kanbas-sidebar-collapse {
        display: none;
    }

    .account-sidebar-collapse {
        display: none;
    }

    .assign {
        width: 100%;
    }
   
}
@media (max-width: 768px) {
    .kanbas-sidebar {
        display: none;
    }

    .account-sidebar {
        display: none;
    }

    .module-sidebar {
        width: 100%;
    }
    .assign {
        
        width: 100%;
    }
   
} 



